/* FOOTER */
html, body {
    min-height: 25%;
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Arial', serif;
}
.page-wrapper {
    min-height: 100%;
}

.footer {
    background:  #3c4894;
    color: #d3d3d3;
    max-height: 85%;
    
    
}

.footer .footer-content {
    border: 1px solid red;
    height: 350px;
}

.footer-bottom {
    background: #3c4894;
    color: #d3d3d3;
    height: 450px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    
}
